@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
    text-align: center;
  }
   
  .App-image {
    width: 60vmin;
    pointer-events: none;
  }
   
  .App-main {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(7px + 2vmin);
    color: white;
  }
   
  .text-box {
    background: #fff;
    color: #333;
    border-radius: 5px;
    text-align: center;
  }
  